<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= webpackConfig.demoConfig.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" id="vp">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="favicon.png" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="<%= webpackConfig.sdk.css %>">
    <% for (key in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[key] %>">
    <% } %>
    <script>
        if (screen.width < 450) {
            var mvp = document.getElementById('vp');
            mvp.setAttribute('content','width=450');
        }
    </script>
	<style>
		#parent {
			width: 552px;
			height: 320px;
			margin: 40px;
            position: relative;
		}
		.kl-video-player {
			position: absolute !important;
			top: 0;
			left: 0;
			width: 100% !important;
			max-width: 100%;
			height: 100% !important;
		}
	</style>
    </head>
  <body>
    <div id="parent">
	    <video
		   data-video-id="3884616525001"
		   data-account="136368194"
		   data-player="V1xBaDVb6l"
		   data-embed="default"
		   class="video-js kl-video-player" controls></video>
	    <script src="//players.brightcove.net/136368194/V1xBaDVb6l_default/index.min.js"></script>
	    <script src="<%= webpackConfig.sdk.js %>"></script>
    </div>
    <% for (key in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
    <% } %>
  </body>
</html>
