<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= webpackConfig.demoConfig.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="favicon.png" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="<%= webpackConfig.sdk.css %>">
    <% for (key in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[key] %>">
    <% } %>
    </head>
  <body>
      <div id="parent" class="player-container">
		<video data-video-id="5247776726001" 
		data-account="5239736485001" 
		data-player="default" 
		data-embed="default" 
		data-application-id 
		class="video-js" 
		controls 
		style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;"></video>
	<script src="//players.brightcove.net/5239736485001/default_default/index.min.js"></script>
        </div>
    <script src="<%= webpackConfig.sdk.js %>"></script>
    <% for (key in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
    <% } %>
  </body>
</html>
